<div class="content-wrapper">
  <div class="row">
    <div class="col-lg-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">View Categury</h4>

          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Categury</th>
                  <th>Remove</th>
                </tr>
              </thead>
              <tbody>
                {{#each categury}}
                <tr>
                  <td>{{inc @index}}</td>
                  <td>{{this.categuryName}}</td>
                  <td><a class="text-danger" href="/admin/remove-categury/{{this._id}}" >remove</a>
                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 grid-margin stretch-card">
      <div class="card" style="height:14rem ;">
        <div class="card-body">
          <h4 class="card-title">Add Category</h4>
          <form action="/admin/add-categury" method="post">
            <div class="form-group">
              <label>Categury Name</label>
              <input type="text" class="form-control form-control-lg" placeholder="Category" aria-label="Username"
                name="Name">
                {{#if message}}
                <p class="text-danger" style="text-align:center ;">{{message}}</p>
                {{/if}}
            </div>
            <button type="submit" class="btn btn-primary mr-2">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
