<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-sm-12" style="margin-top: 5rem;">
                <div class="tptrack__product mb-40">
                    <div class="tptrack__thumb">
                        <img src="/img/banner/login-bg.jpg" alt="">
                    </div>
                    <div class="tptrack__content grey-bg-3">
                        <div class="tptrack__item d-flex mb-20">
                            <div class="tptrack__item-content">
                                <h4 class="tptrack__item-title">Login Here<i class="bi bi-box-arrow-in-right"></i></h4>

                            </div>
                        </div>
                        <form action="" id="adminLoginFormSubmission">
                        {{!-- <form action="/admin/admin-login" method="post"> --}}
                           <div class="form-outline mb-4">
                                        <label class="form-label" for="form3Example3"></label>
                                        <input type="email" id="form3Example3" class="form-control form-control-lg"
                                            placeholder="Email" name="Email" />
                                           
                                            <p class="text-danger " id="emailErr" style="text-align:center ;"></p>
                                            

                                    </div>
                            <div class="form-outline mb-3">
                                        <label class="form-label" for="form3Example4"></label>

                                        <input type="password" id="form3Example4" class="form-control form-control-lg"
                                            placeholder="Password" name="Password" />
                                            
                                            <p class="text-danger" id="passwordErr" style="text-align: center;"></p>
                                          
                                    </div>
                        
                        <div class="tpsign__remember d-flex align-items-center justify-content-between mb-15">
                            <div class="tpsign__pass">
                                <a href="#">Forget Password</a>
                            </div>
                        </div>
                        <div class="tptrack__btn">
                            <button class="tptrack__submition" type="submit">Login Now</a><i
                                    class="fal fa-long-arrow-right"></i></button>
                        </div>
                         </form>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</section>

<script>
    $("#adminLoginFormSubmission").submit((e) => {
        e.preventDefault()
        $.ajax({
            url: '/admin/admin-login',
            method: 'post',
            data: $("#adminLoginFormSubmission").serialize(),
            success: (response) => {
                if (response.status) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Login success',
                        showConfirmButton: false,
                        timer: 500
                    })
                    location.href = "/admin"
                } else if (response.emailErr) {
                    document.getElementById('emailErr').innerHTML = "This Email Don't Have Any Account"
                } else if (response.passwordErr) {
                    document.getElementById('passwordErr').innerHTML = "Wrong Password Try Another Password"
                }
            }
        })
    })

</script>