<!-- preloader -->
<div id="preloader">
   <div class="preloader">
      <span></span>
      <span></span>
   </div>
</div>
<!-- preloader end  -->





<!-- main-area-start -->
<main>

   <!-- product-area-start -->


   <section class="product-area pt-95 pb-70">
      <div class="container">
         <div class="row">
            <div class="col-md-6 col-12">
               <div class="tpsection mb-40">
                  <h4 class="tpsection__title">Favorite <span> Products<i class="bi bi-suit-heart"></i><img src="/img/icon/title-shape-01.jpg"
                           alt=""></span></h4>
               </div>
            </div>
         </div>



         <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">
               <div class="row row-cols-xxl-5 row-cols-xl-4 row-cols-lg-3 row-cols-md-2 row-cols-sm-2 row-cols-1">

                  <div class="col">
                     <div class="tpproduct pb-15 mb-30">
                        <div class="tpproduct__thumb p-relative">
                           <a href="shop-details-2.html">
                              <img
                                 src="https://www.aptronixindia.com/media/catalog/product/cache/31f0162e6f7d821d2237f39577122a8a/i/p/iphone_14_pro_max_deep_purple_pdp_image_position-1a_avail__en-in-removebg-preview.png"
                                 alt="product-thumb">
                              <img class="product-thumb-secondary" src="/img/product/home-one/product-2.jpg" alt="">
                           </a>
                           <div class="tpproduct__thumb-action">
                              <a class="comphare" href="#"><i class="fal fa-exchange"></i></a>
                              <a class="quckview" href="#"><i class="fal fa-eye"></i></a>
                              <a class="wishlist" href="/view-wishlist"><i class="fal fa-heart"></i></a>
                           </div>
                        </div>
                        <div class="tpproduct__content">
                           <h3 class="tpproduct__title"><a href="shop-details.html">Miko Wooden Bluetooth Speaker</a>
                           </h3>
                           <div class="tpproduct__priceinfo p-relative">
                              <div class="tpproduct__priceinfo-list">
                                 <span>$31.00</span>
                              </div>
                              <div class="tpproduct__cart">
                                 <a href="/view-cart-items"><i class="fal fa-shopping-cart"></i>Add To Cart</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

               </div>
            </div>
         </div>

   </section>
   <!-- product-area-end -->


   <!-- category-area-start -->
   <section class="category-area pt-70">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="tpsection mb-40">
                  <h4 class="tpsection__title">Top <span> Categories <img src="/img/icon/title-shape-01.jpg"
                           alt=""></span></h4>
               </div>
            </div>
         </div>
         <div class="custom-row category-border pb-45 justify-content-xl-between">
            <div class="tpcategory mb-40">
               <div class="tpcategory__icon p-relative">
                 <h2 style="text-align:center ;"><img src="https://cdn-icons-png.flaticon.com/512/35/35367.png" alt="" style="width: 6rem ;"></i></h2> 
                  <span>20</span>
               </div>
               <div class="tpcategory__content">
                  <h5 class="tpcategory__title"><a href="shop.html">Driftwood <br> Table Decor</a></h5>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- category-area-end -->



   <!-- shop-instagrame-start -->
   <section class="shop-area pb-100">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="tpsectionarea text-center mb-35">
                  <h5 class="tpsectionarea__subtitle">Follow On</h5>
                  <h4 class="tpsectionarea__title"><i class="fab fa-instagram"></i> ninico-shop</h4>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- shop-instagrame-end -->

</main>
<!-- main-area-end -->

<!-- footer-area-start -->